<!-- https://www.figma.com/file/5cLVMzrZn4RP5eM8Hs9mT1/SiteRoberta-(Copy)?type=design&node-id=0-1&mode=design&t=3ZDBMNIKlsXV00Di-0 -->
<!-- o que e rmvr / conheca a roberta - tem que arrumar isso -->

<meta charset="utf-8">
<link href="../app/app.component.css" id="changeable-colors" rel="stylesheet" type="text/css" />

<nav class="navbar">
  <div class="logo">
    <img src="../assets/rmvr.png">
  </div>

  <div class="navbar_navigation">
    <ul>
      <li >
        <a href="#realidade_virtual">SOBRE</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#equipe">EQUIPE</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#ferramentas">PROJETO</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#documentacao">DOCUMENTAÇÃO</a>
      </li>
    </ul>
  </div>

  <div class="idiom">
    <img src="../assets/globo.png" style="width: 45px;">
    <select class="select_idiom">
      <option selected>PT</option>
      <option value="1">EN</option>
      <option value="2">DE</option>
    </select>
  </div>

  <div hidden>
    <img src="../assets/menu_bar.png">
  </div>
</nav>

<div class="img_main">
  <img src="../assets/roberta1.png" style="width: 100%;">
  <label id="text_roberta1">Explore novas realidades, amplie seu potencial: mergulhe no futuro através da realidade virtual e <br>
    transforme o treinamento em uma experiência revolucionária.</label>
</div>

<!-- Falar que só os tres logos, acho que fica melhor -->
<div class="logos">
  <div id="logo_digital_talent">
      <img src="../assets/digital_talent.png">
  </div>
  <div id="logo_ets">
    <img src="../assets/logo_ets.png">
  </div>
  <div id="logo_hse">
    <img src="../assets/logo_hse.png">
  </div>
  <div id="logo_bosch">
    <img src="../assets/logo_bosch.png">
  </div>
</div>

<div id="video">
  <iframe width="1000" height="600" src="https://www.youtube.com/embed/5AKl_cEB26c?"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div id="realidade_virtual">
  <div>
    <img src="../assets/oculos_vr.png">
  </div>
  <div id="texto">
    <p class="txt1">A <label>Realidade Virtual</label> é uma das indústrias de tecnologia que mais cresce!</p>
    <p class="txt2">Prepare-se para entrar noutra dimensão com as estatísticas da realidade  virtual em 2023.</p>

    <div id="informacoes">
      <div>
        <p id="txt1">6,3 milhões</p>
        <p id="txt2">Popularidade de dispositvos</p>
      </div>
      <div>
        <p id="txt1">60%</p>
        <p id="txt2">Aumento do uso do VR</p>
      </div>
      <div>
        <p id="txt1">16,8 bilhões</p>
        <p id="txt2">Crescimento do mercado</p>
      </div>
    </div>
    <p id="txt2" hidden>* valores em dolares</p>
  </div>
</div>

<div id="explicando_rmvr">
  <div class="cx1">
    <p id="txt_pergunta">O que é<img src="../assets/rmvr.png" style="height: 28px;">?</p>
    <p id="txt_resposta">O Treinamento consiste em uma série de desafios em um ambiente de trabalho na Bosch, 
      onde a pessoa deve fazer escolhas corretas para avançar. No final, são contabilizados os acertos e erros.</p>
  </div>
  <div class="cx2">
    <img src="../assets/infinito.png" >
  </div>
</div>

<div class="roberta">
  <div>
    <img src="../assets/roberta2.png">
  </div>
  <div class="explicando_roberta">
    <p class="txt_roberta">Conheça <label>Roberta</label>:  Sua Assistente Virtual no Mundo do Jogo!</p>
    <p id="txt_roberta">Desfrute de uma nova dimensão nos jogos com a ajuda de Roberta, a assistente virtual de jogo que será sua aliada durante o jogo,
       tornando sua experiência de jogo ainda mais emocionante.</p>
  </div>
</div>

<div class="teste">
  <div id="ferramentas">
    <div>
      <div>
        <p id="titulo">Ferramentas de Desenvolvimento</p>
        <p id="subtitulo">Criar uma equipe para o seu projeto é bom, ter uma organização impecável é melhor.<br> Para que? Ganhar em produtividade, tempo e ideias ferventes.</p>
      </div>
    </div>

    <div class="parte_cima">
      <div id="unity">
        <img src="../assets/unity.png">
        <p class="nome_ferramenta">Unity</p>
        <p class="info_ferramenta">Escolhemos a Unity pela sua poderosa engine de jogos, garantindo que nosso projeto alcance níveis excepcionais de imersão e qualidade.</p>
      </div>

      <div id="vscode">
        <img src="../assets/vscode.png">
        <p class="nome_ferramenta">Vscode</p>
        <p class="info_ferramenta">Com Visual Studio Code, desenvolvemos de forma ágil e produtiva, graças à sua flexibilidade, eficiência e extensa comunidade de extensões.</p>
      </div>

      <div id="figma">
        <img src="../assets/figma.png">
        <p class="nome_ferramenta">Figma</p>
        <p class="info_ferramenta">Para imaginar o design e a experiência do nosso website juntos, Figma é a ferramenta que utilizamos.</p>
      </div>
    </div>

    <div class="parte_meio">
      <div id="c#">
        <img src="../assets/c.png">
        <p class="nome_ferramenta">C#</p>
        <p class="info_ferramenta">C# é uma linguagem de programação versátil e poderosa, amplamente utilizada no desenvolvimento de aplicações e jogos.</p>
      </div>

      <div id="blender">
        <img src="../assets/blender.png">
        <p class="nome_ferramenta">Blender</p>
        <p class="info_ferramenta">Escolhemos o Blender devido à sua capacidade de criar modelos 3D de alta qualidade, animações realistas e efeitos visuais impressionantes.</p>
      </div>

      <div id="oculus">
        <img src="../assets/oculus.png">
        <p class="nome_ferramenta">Oculus</p>
        <p class="info_ferramenta">A plataforma Oculus para VR  é utlizada devido à sua tecnologia avançada de realidade virtual, que nos permite criar experiências imersivas e interativas.</p>
      </div>
    </div>

    <div class="parte_embaixo">
      <div id="c#">
        
      </div>

      <div id="blender">
       
      </div>

      <div id="angular">
        <img src="../assets/angular.png">
        <p class="nome_ferramenta">Angular</p>
        <p class="info_ferramenta">Utilizamos a linguagem de programação Angular em nosso site devido à sua capacidade de criar sitesinterativos e de alta performance e proporcionando uma experiência de usuário mais fluida.</p>
      </div>
    </div>
  </div>
</div>

<div>
  <div id="documentacao">

    <div id="piupiu">
      <img src="../assets/piupiu.png">
    </div>

    <div id="explicando_documentacao">
      <div>
        <h1>Documentação</h1>
      </div>
      
      <div>
        <p>Se você está curioso para conhecer mais detalhes sobre o nosso trabalho de conclusão de curso (TCC) e explorar a documentação completa do projeto, 
          você está no lugar certo!</p>
        <p>
          Clique no botão abaixo para ter acesso à documentação detalhada, que inclui informações sobre a concepção do projeto, metodologia, descrição técnica, e muito mais.
        </p>
      </div>

      <div>
        <div id="opcoes_documentacao">
          <div><a>👉 Diario de Bordo</a></div>
          <div><a>👉 Manual</a></div>
          <div><a>👉 Documentação</a></div>
          <div><a>👉 Outros</a></div>
        </div>
      </div>
      <div>
        <button src="https://drive.google.com/drive/u/2/folders/1aq1itqwHPwImgdFBHbpETPmPIOcN5bFg">Acessar a documentação</button>
      </div>
    </div>
  </div>
</div>

<!-- feedbacks -->
<div id="feedbacks">
  <div>
    <p id="titulo_feedback" >Feedbacks</p>
  </div>
  

  <div id="comentarios">

    <div id="coment">
      <p>
        <img src="../assets/estrelas.png">
      </p>
      <p>
        O jogo em realidade virtual desenvolvido neste TCC é uma demonstração impressionante do poder dessa tecnologia para criar experiências imersivas. 
      </p>
      <div id="info">
        <div>
          <img src="../assets/dona.png">
        </div>
        <div>
          <b>Henrique Doná</b>
          <p>Chefe de Treinamento Técnico</p>
        </div>
      </div>
    </div>

    <div id="coment">
      <p>
        <img src="../assets/estrelas.png">
      </p>
      <p>
        A abordagem inovadora de criar um jogo em realidade virtual como TCC demonstra a habilidade do aluno em aplicar conhecimentos avançados de desenvolvimento e design.
      </p>
      <div id="info">
        <div>
          <img src="../assets/lilian.png">
        </div>
        <div>
          <b>Lilian Lacerda</b>
          <p>Engenheira de Segurança do Trabalho</p>
        </div>
      </div>
    </div>

    <div id="coment">
      <p>
        <img src="../assets/estrelas.png">
      </p>
      <p>
        A jogabilidade cativante e os desafios bem elaborados refletem um projeto bem executado.
      </p>
      <div id="info">
        <div>
          <img src="../assets/leo.png">
        </div>
        <div>
          <b>Leonardo Oliveira</b>
          <p>Instrutor de Aprendizagem Técnica</p>
        </div>
      </div>
    </div>  
  </div>
</div>

<div id="equipe">

  <div id="integrante">
      <div id="nome">
        <p>GRAZIELLY</p>
        <p>DESIGNER</p>
      </div>
      <div>
        <img id='foto' src="../assets/Grazielly.png">
      </div>
      <div>
        <div id="meio_comunicacao">
          <div><a href="https://github.com/grazixxjp"><img  src="../assets/github.png"></a></div>
          <div><a href="https://www.linkedin.com/in/grazielly-s-1b638b1b7/"><img src="../assets/linkedin.png"></a></div>
          <div><a href=""><img src="../assets/e-mail.png"></a></div>
        </div>
      </div>
  </div>
  <div id="integrante">
    <div id="nome">
      <p>RADIJA</p>
      <p>DEVELOPER</p>
    </div>
    <div>
      <img id='foto' src="../assets/Radija.png">
    </div>
    <div>
      <div id="meio_comunicacao">
        <div><a href="https://github.com/radijaa"><img src="../assets/github.png"></a></div>
        <div><a href="https://www.linkedin.com/in/radija-oliveira-954053191/"><img src="../assets/linkedin.png"></a></div>
        <div><a href=""><img src="../assets/e-mail.png"></a></div>
      </div>
    </div>
</div>
<div id="integrante">
  <div id="nome">
    <p>LIVIA</p>
    <p>DEVELOPER</p>
  </div>
  <div>
    <img id='foto' src="../assets/Livia.png">
  </div>
  <div>
    <div id="meio_comunicacao">
      <div><a href="https://github.com/liviapaliari"><img src="../assets/github.png"></a></div>
      <div><a href="https://www.linkedin.com/in/livia-paliari-padovine-76bb64238/"><img src="../assets/linkedin.png"></a></div>
      <div><a href=""><img src="../assets/e-mail.png"></a></div>
    </div>
  </div>
</div>
</div>
<div id="teste">
  <div id="contate_nos">
    <div>
      <h1>Contate-nos</h1>
    </div>
    <div>
      <p>Se você está interessado em realidade virtual ou tem alguma dúvida sobre o nosso trabalho de conclusão de curso (TCC), ficaremos felizes em conversar com você! 
        Fique à vontade para enviar suas perguntas ou agendar uma reunião para uma demonstração do nosso trabalho em ação. Aguardamos seu contato!</p>
    </div>
    <div>
      <button>Entre em contato</button>
    </div>
  </div>
</div>

<div id="footer">
  <div id="img_roberta">
    <img src="../assets/roberta3.png">
  </div>
  <div id="informacoes_footer">
    <div>
      <b>Sobre</b>
      <p><a href="#equipe">Time</a></p>
      <p><a href="#ferramentas">Ferramentas</a></p>
      <p><a href="#explicando_rmvr">Jogo</a></p>
    </div>
    <div>
      <b>Contato</b>
      <p><a href="#contate_nos">Contato</a></p>
      <p><a href="#equipe">Desenvolvedores</a></p>
    </div>

    <div>
      <b>Documentação</b>
      <p><a href="#realidade_virtual">Oculus</a></p>
      <p><a href="#documentacao">Documentação</a></p>
    </div>
  </div>

    <div id="logo_footer">
      <div>
        <p>© Copyright 2023. All rights reserved.</p>
      </div>
      <div>
        <img src="../assets/rmvr.png">
      </div> 
    </div>
</div>

